<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getToken('csrftoken')

        function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";");

            // Loop through the array elements
            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                /* Removing whitespace at the beginning of the cookie name
                and compare it with the given string */
                if (name == cookiePair[0].trim()) {
                    // Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            // Return null if not found
            return null;
        }

        var cart = JSON.parse(getCookie('cart'))

        if (cart == undefined) {
            cart = {}
            console.log('Cart Created!', cart)
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)

    </script>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Strona głowna</a>
    {% if perms.shop.add_product %}
    <a class="navbar-brand" href="{% url 'add_product' %}">Dodaj Produkt</a>
    {% endif %}
{% if perms.shop.add_category %}
    <a class="navbar-brand" href="{% url 'add_category' %}">Dodaj Kategorie</a>
{% endif %}
{% if perms.shop.view_order %}
    <a class="navbar-brand" href="{% url 'orders' %}">Zamówienia</a>
{% endif %}
        {% if not user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'login' %}">Login</a>
    <a class="navbar-brand" href="{% url 'register' %}">Rejestracja</a>

        {% endif %}
{% if user.is_authenticated %}
    <a class="text-light float-right navbar-brand"> Witaj {{ user }}<br>
{% endif %}
        <a class="navbar-brand" href="{% url 'logout' %}">wyloguj</a> </a>



        <div class="form-inline my-2 my-lg-0">


            <a href="{% url 'cart' %}">
                <img id="cart-icon" src="{% static 'images/cart.png' %}">
            </a>
            <p id="cart-total">{{ cartItems }}</p>

        </div>


    <form method="GET" action="{% url 'search' %}">
        <input type="text" name="q" placeholder="Szukaj Produktu">
        <input type="submit" value="Szukaj">
    </form>
</nav>
<div class="container category-product">
    {#    {% include 'main_links.html' %}#}



<ul class="navbar  navbar-dark bg-dark c ">
    {% for item in categories %}
        <li style = "list-style: none"><a class="navbar-brand" href="{% url 'list_product' item.name %}">{{ item.name }}</a>
            {% if perms.shop.delete_category %}
                <a href="{% url 'delete_category' item.id %} ">
                    <img src="{% static 'dal.png' %}" width="20"></a>
            {% endif %}
            {% if perms.shop.update_category %}
                <a href="{% url 'update_category' item.id %} ">
                    <img src="{% static 'up.png' %}" width="20"></a>
            {% endif %}

        </li>
    {% endfor %}
</ul>
</div>


<div class="container">
    {% block content %}

    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>
</html>