{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <h1>Twój Koszyk</h1>

    <form action="{% url 'order_detail' order_id %}" method="post">
        {% csrf_token %}
    <input type="submit" value="Zapłać">
    </form>




<div class="box-element">
				<div class="cart-row">
{#					<div style="flex:2"></div>#}
					<div style=""><strong>Przedmioty</strong></div>
					<div style="padding-left: 15rem"><strong>Cena</strong></div>
					<div style="padding-left: 15rem"><strong>Ilosc</strong></div>
					<div style="padding-left: 15rem"><strong>Total</strong></div>
				</div>
				{% for item in cart_items %}
				<div class="cart-row">
{#					<div style="flex:2"><img class="row-image" src=""></div>#}
					<div style="padding-left: 0rem"><p>{{item.product.name}}</p></div>
					<div style="padding-left: 15rem"><p>${{item.product.price|floatformat:2}}</p></div>
					<div style="padding-left: 15rem"><p>{{item.quantity}}</p></div>
					<div style="padding-left: 15rem"><p>{{total_price|floatformat:2}}</p></div>
				</div>
				{% endfor %}
			</div>

{% endblock %}