{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for product in products %}
    <h1>{{ product.name }}
        {% if perms.myapp.delete_posts %}
            <a href="{% url 'delete_product' product.id%} ">
                <img src="{%  static 'dal.png'%}" width="20"></a>
        {% endif %}
        {% if perms.myapp.delete_posts %}
            <a href="{% url 'update_product' product.id%} ">
                <img src="{%  static 'up.png'%}" width="20"></a>
        {% endif %}
    </h1>
    <h2>{{ product.description}}</h2>
    <h2>{{ product.price}}</h2>
    <a href="{% url 'add_to_cart' product.id%}">Dodaj do koszyka</a>
{% endfor %}
{% endblock %}